  <body> 
    <div data-role="page" id="mainpage">

      <div data-role="header">
        <h1>Stagecoach!</h1>
        </div><!-- /header -->

        <div data-role="content">
          <div data-role="fieldcontain" class="ui-hide-label">
            <label for="submit-comment" class="ui-hidden-accessible">Leave a Comment Here.</label>
            <textarea name="submit-comment" id="submit-comment" placeholder="Leave a Comment Here"></textarea>
            <input type="submit" name="submit" id="submit" value="Button"/>
        </div>
      <br>
          <div id="comments">
          </div>
        </div><!-- /content -->

        <div data-role="footer">
          <h1></h1>
        </div><!-- /Foooter -->
      </div><!-- /page -->

  </body>
