// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-grid-icon {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.menu-grid-row {
	padding-bottom: 9% !important;
}

.menu-grid-icon-text {
	text-align: center;
	padding-top: 5%;
}

.center-text {
	text-align: center;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}