h1{
  text-align:center;
}

h3{
  text-align:center;
}

.ui-icon-facebook-logo {
	background-image: url("facebook-logo.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-facebook-logo {
		background-image: url("facebook-logo-hires.png");
		background-size: 18px 18px;
	}
}