<%= form_for(@task_category, :action => :create) do |f| %>
  <form>
    <ul data-role="listview" data-inset="true">
      <li data-role="fieldcontain">
        <%= f.label :name, "Task Category Name", :"for" => "task-categories-new-form-form-name" %>
        <%= f.text_field :name, :id => "task-categories-new-form-form-name", :placeholder => "Lighting" %>
      </li>
      <li class="ui-body ui-body-b">
        <fieldset class="ui-grid-a">
          <%= f.submit :value => 'Create' %>
        </fieldset>
      </li>
    </ul>
  </form>
<% end %>