<h1>Welcome to Project Stagecoach</h1>
<h3>You must login before continuing</h3>
<%= link_to "Sign In With Facebook", signin_path(:facebook), :"data-role" => "button", :"data-icon" => "facebook-logo", :rel => 'external' %>
<%= link_to "Sign In As Guest", guest_path , { :"data-role" => 'button'} %>
