<h1>Sign In</h1>

<div class="desktop-sessions-fbsignin"><%= link_to "With Facebook", signin_path(:facebook), :"data-role" => "button", :"data-icon" => "facebook-logo", :rel => 'external' %></div>
<div class="desktop-sessions-guest"><%= link_to "As Guest", guest_path %></div>