<!--<% javascript_include_tag "signups/new" %>-->
<div class="container">
  <div class ="hero-unit">
    <h1>Sign up to be an alpha tester!</h1>
    <br>
    <div class="row" style="text-align: center;">
        <h3>We will email you when we're ready! </h3>
    </div>
    <br>
    <div class="row">
        <%= render 'signup-form' %>
    </div>
  </div>
</div>
