<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @notification.user.name %>,</h1>
    <p>
      You have been received a notification on Stagecoach
    </p>
  </body>
</html>