<ul>
	<% unless @unread_notifications.nil? %>
	<h4>New</h4>
	<% @unread_notifications.each do |notification| %>

		<li>
			<p class="unread_notification"><%= link_to  notification.to_s, notification_path(notification), :method => notification_path_method(notification) %></p>
		</li>

	<% end %>
	<% end %>
	<% unless @read_notifications.nil? %>
	<h4>Archive</h4>
	<% @read_notifications.each do |notification| %>

		<li>
			<!-- self.current_project is used so selecting a notification for a task on a different project will switch projects !-->
			<p><%= link_to  notification.to_s, notification_path(notification), :method => notification_path_method(notification) %></p>
		</li>

	<% end %>
	<% end %>
</ul>

