<ul data-role="listview" data-inset = "true">
	<% unless @unread_notifications.nil? %>
	<% @unread_notifications.each do |notification| %>

		<li>
			<b><%= notification.to_s %></b>
		</li>

	<% end %>
	<% end %>
	<% unless @read_notifications.nil? %>
	<% @read_notifications.each do |notification| %>

		<li>
			<%= link_to  notification.to_s, notification.notification_object %>
		</li>

	<% end %>
	<% end %>
</ul>

