<div class="contacts-top">
	<%= render 'contacts_page_controls' %>
</div>
<h4>Projects</h4>
<div class="contacts-list">
	<ul>
		<% for project in @projects %>
			<% unless project.users.count == 1 %>
				<li>
					<b><p><%= project.name %></p></b>
					<ul>
						<% for contact in project.users %>
							<% unless contact == @current_user %>
								<li><%= link_to contact.name, contact %></li>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
	  	<% end %>
	</ul>
</div>