<div class="contacts-top">
	<%= render 'contacts_page_controls' %>
</div>
<h4>Roles</h4>
<div class="contacts-list">
<ul>
	<% for user_role in @user_roles %>
		<li>
			<b><p><%= user_role.name %></p></b>
			<ul>
				<% for contact in @contacts %>
					<% if contact.user_roles.include?(user_role) %>
						<p><%= link_to contact.name, contact %></p>
					<% end %>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
</div>
