<div>
	<%= render 'contacts_page_controls' %>
</div>
<h4>All Contacts</h4>
<div>
	<ul>
		<% @contacts.each do |contact|%>
			<li class="stagecoach-list-item"><%= link_to contact.name.split.each { |x| print x.capitalize!, " "}.join(" "), contact, :remote => true %></li>
		<% end %>
	</ul>
</div>