<div>
	<%= render 'contacts_page_controls' %>
</div>
<h3><%= @project.capitalized_name %></h3>
<div>
	<ul>
		<% for project in @projects %>
			<% unless (project.users.count == 1) && (project != @project) %>
				<% @contacts.each do |contact|%>
					<li class="stagecoach-list-item"><%= link_to contact.name.split.each { |x| print x.capitalize!, " "}.join(" "), contact, :remote => true %></li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>