<ul>
	<% for user_role in @user_roles %>
		<li>
			<p><%= user_role.name %></p>
			<ul>
				<% for contact in @contacts %>
					<%= link_to contact.name.split.each { |x| print x.capitalize!, " "}.join(" "), contact %>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>