<!--<% javascript_include_tag "users/new" %>-->
<div class="container">
  <div class ="hero-unit">
    <h1>Sign up to be an alpha tester!</h1>
    <br>
    <div class="row">
      <div class="span6 offset4">
        <h3>We will email you when we're ready! </h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span12 offset2">
        <%= render 'signup-form' %>
      </div>
    </div>
  </div>
</div>
