<div class="container">
  <div class ="hero-unit">
<h1>Sign up to be a beta tester!</h1>
<br>
<div class="row">
  <div class="span6 offset1">
    <h3>We will email you when we're ready! </h3>
  </div>
</div>
<br>
<div class="row">
<div class="span4 offset8">
<%= render 'form' %>
  </div>
</div>
</div>
</div>
