#navbar-container {
	margin-left: 100px;
	margin-right: 0px;
	width: auto;
	font-size: 23px;
	a {
		color: white;
	}
}

.nav {
	padding-top: 5px;
}
.dropdown-menu, .caret {
	background-color: #333;
}

.pull-right {
	margin-right: 30px !important;
	button {
		height: 36px;
		width: 92px;
		margin-right: 41px;
		margin-bottom: 12px;
		padding-top: 7px;
	}
}

#profile-picture {
	box-shadow: 0px 0px 10px 5px black;
	margin-top: 5px;
	img {
		height: 37px;
		width: 37px;
	}
}