#navbar-container {
	margin-right: 0px;
	width: auto;
	font-size: 23px;
}

/*.dropdown-menu, .caret {
	background-color: #333;
} */

.navbar .divider-vertical {
	background-color: #B9B9B9;
	margin-top: 6px;
	height: 32px;
}


#header-logo {
	padding: 0px 16px 0px 0px;
	img {
		padding: 4px 0px 0px 14px;
		width: 200px;
	}
}

#header-current-project-name {
	padding-left: 6px;
}

#header-projects-dropdown {
	text-align: center;
	#header-project-buttons {
		margin-left: auto;
		margin-right: auto;
		width: 112px;
	}
}

#header-notifications {
	padding: 0px;
	.badge-error {
		&:hover {
			background-color: #B94A48;
		}
	}
	span {
		position: absolute;
		z-index: 1;
		margin-left: 19px;
		padding: 0px 6px;
		border-radius: 7px;
		text {
			font-size: 12px;
		}
	}
	img {
		position: relative;
		margin-top: 10px;
	}
}

#signed-in-nav
{
	padding-top: 5px;
}

.pull-right {
	margin-right: 30px !important;
	button {
		height: 36px;
		width: 92px;
		margin-right: 41px;
		margin-bottom: 12px;
		padding-top: 7px;
	}
}

#profile-picture {
	box-shadow: 0px 0px 10px 5px black;
	margin-top: 11px;
	img {
		height: 37px;
		width: 37px;
	}
}


