// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
///
////
//this is for the home page

#home-index-handjpg{
height: 600px;

}

#home-index-list{
margin-top: 190px;
}
#home-index-paragraph {
margin-top: 99px;
}
#home-feature-header{
margin-top: 170px;
}
.break {
background-image:url('/assets/sidebar/bg.png');
background-repeat:repeat;
height: 70px;
margin-top: 670px;
margin-bottom: 53px;
width: 108.4%;

}
//
///
////
//this is for the about page
.home-about-rowclass {
padding-top: 25px;
padding-bottom: 20px;
}

.home-about-blockquote {

}

#home-index-landingjpg {
padding-left: 25px;
}