#invitations-new-add-user-button {
	margin-bottom: 9px;
}

#invitations-new-body {
	width: 90%
}

#invitations-show-body {
	width: 90%
}

#invitations-show-send-message-button {
	margin-bottom: 9px;
}

#invitations-new-add-user-modal {
	display: none;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	#invitations-new-add-user-modal-radio-buttons {
		margin: 10px 0px 10px 10px;
	}

	#invitations-new-add-user-modal-select-button {
		margin: 0px 180px 10px 180px;
		width: 200px
	}
}

