#invitation-show-content
{
	display: inline-block;
	width: 37%
}


#invitation-show-conversation
{
	float: right;
	margin-right: 24px;
	width: 52%
}

#invitations-show-new-message
{
	width: 505px;
}

#invitations-show-send-message-button
{
	margin-left: 407px;
}

#invitations-new-add-user-button {
	margin-bottom: 9px;
}

#invitations-new-body {
	width: 90%
}

#invitations-show-body {
	width: 100%
}

#invitation-conversation {
	width: 45%;
}

#invitations-show-send-message-button {
	margin-bottom: 9px;
}

#invitations-new-add-user-modal {
	display: none;
	#invitations-new-add-user-modal-radio-buttons {
		margin: 10px 0px 10px 10px;
	}

	#invitations-new-add-user-modal-select-button {
		margin: 0px 180px 10px 180px;
		width: 200px
	}
}

