// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts-posts-title a {
  color: #333;
}

#posts-posts-title {
  padding-top: 15px;
}

.posts-posts-show {
  text-align: left;
  padding-top: 20px;
}

.posts-posts-show-title {
  text-align: center;
}

.postby {
  padding-top: 8px;
}

.postcontent {
  padding-top: 15px;
}