/* This is the CSS for the sidebar */

#sidebar, #sidebar-no-project {
	top: 78px;
	bottom: 20px;
	background-color: #222222;
	width: 80px;
	float: left;
	position: fixed;
	padding-top: 33px;
	overflow: hidden;
	border-top: 1px solid #F3F3F3;
	border-bottom: 1px solid #F3F3F3;
	z-index: 1;
}

.sidebar_item {
	height: 80px;
	width: 80px;
	text-align: center;
	margin-bottom: 30px;
}

.sidebar_item:hover {
	background-color: rgb(150,150,150);
	box-shadow: 5px 0px 30px -4px black;
}

.sidebar_item_link {
	text-align: center;
	color: white;
}

.sidebar_item_disabled{
	background-color: rgb(100,100,100);
	text-align: center;
	color: gray;
}

.sidebar_item_link:hover {
	text-align: center;
	text-decoration: none;
	color: white;
}

.sidebar_item_link:visited {
	text-align: center;
	text-decoration: none;
	color: white;
}

#logo {
	height: 60px;
	width: 80px;
	text-align: center;
}