// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signups-signup-form-submit{
  position: relative;
  left: 263px;
}

#signups-signup-form-submitdiv{
  position: relative;
  left: -100px;
  text-align: center;
}

#signups-signup-form-form {
  left: 14px;
  position: relative;
}

#signups-signup-form-email-help{
  display: none;
  font-size: 16px;
}

#signups-signup-form-name-help{
  display: none;
  font-size: 16px;
}
.signup-form-input {
  margin-left: 287px
}

#users-signup-control1{
  margin-left: 70px;
}