// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-on {
	margin-bottom: 9px;
}

#tasks-form-description {
	width: 90%%;
}

#tasks-new-add-user-button {
	margin-bottom: 9px;
}

.tasks-new-user-name
{
	display: block;
}

#tasks-new-add-user-modal {
	display: none;
	#tasks-new-add-user-modal-radio-buttons {
		margin: 10px 0px 10px 10px;
	}

	#tasks-new-add-user-modal-select-button {
		margin: 0px 180px 10px 180px;
		width: 200px
	}
}

