// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-on {
	margin-bottom: 9px;
}

#tasks-form-description {
	width: 100%;
}