 <h1 class="center-text">We're Still Working On This One!</h1>
 <h3 class="center-text">We'll Let You Know When It's Ready</h3>
 <%= image_tag "mobile/home/comingsoon_small.png", :class => "center-image" %>