<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
        <h1>One App to Manage Them All</h1>
        <br>
        <div class="row">
          <div class="span8">
            <p>Stagecoach is a new mobile app project designed to improve and streamline the film and television production process for small-to-mid budget production teams.</p>
            <p><%= link_to "Sign Up For Our Private Alpha &raquo;".html_safe, signup_path, :class => "btn primary large", :id => "home-index-private-alpha-button" %></p>
          </div>
          <div class="span4">
            <%= image_tag "home/landing_page.png", :class => "thumbnail", :height => 190, :width => 333 %>
          </div>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
            <div class="span8">
              <h2>What We Aim to Solve</h2>
              <p>
              <ul>
                <li>No centralized scheduling and notification system for production teams</li>
                <li>No transparency for pending and completed tasks between managers and assistants</li>
                <li>No real-time capabilities for call sheet updating and distribution</li>
                <li>Breakdown of communication between on and off-set resources</li>
                <li>Unnecessary overage costs from shooting locations and equipment rentals due to on set resource mismanagement</li>
                <li>Frequent mismanagement of petty cash resulted in loss of funds</li>
              </ul>
                </p>
              </div>
            <div class="span8">
              <h2>Our Plans</h2>
              <p>The first version of our modular mobile app will focus on one primary feature: schedule and notification coordination among project teams. Our team has found this to be a common pain point for our interview subject, and we have prioritized the development and testing of this first module. As we approach our initial user testing, we will develop modular “add-on” applications that cater to an increasing array of film and television production team needs.
              </p>
              <p>We highly value any user feedback, criticisms and support as we put our heads down and intend to rock the foundation of the media production process. We will be working hard in the next few months and we are super excited for our alpha launch. Sign up to be one of our alpha testers here [one of a few links to email signup page] and find us on twitter here. </p>
             <p><%= link_to "Learn about the Stagecoach Team", about_path, :class => "btn" %> </p>
          </div>
      </div>
