<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" id="home">
  <div class="row">
    <div class="span3">
      <%= image_tag "home/hand.png", "id" => "home-index-handjpg" %>
    </div>
    <div class="span5 offset2" id="home-index-list">
      <ul class="unstyled">
        <li><h1>Lights.</h1></li>
        <li><h1>Camera.</h1></li>
        <li><h1>Stagecoach.</h1></li>
      </ul>
      <p id="home-index-paragraph">
        <h2>Stagecoach makes video production easier, faster, and more cost effective for film, TV, and commercial advertising professionals</h2>
      </p>
    </div>
    <div class="row break" id="features">
      &nbsp;
    </div>
    <div class="row">
     <div class="span11">
      <p>
        <h2>
          Introducing you to the only ubiquitous crew sourcing and team management platform that follows the entire lifecycle of your production.
        </h2>
      </p>
    </div>
    <div class="row">
      <div class="offset5" id="home-feature-header">
       <p>
         <h3>
          Crew Sourcing
        </h3>
      </p>
    </div>
  </div>
  <div>
   <%= image_tag "home/sourcing.jpg", "class" => "thumbnail span9 offset1" %>
 </div>
</div>
</div>
