<h1>Invitations</h1>
<br>
<%= link_to 'Invite Someone To This Project', new_invitation_path, :class => "btn" %>
<br>
<br>
<% if @outgoing_invitations.empty? %>
	<h3>You haven't sent any invitations</h3>
<% else %>
	<br/>
	<h3>Invitations sent by you</h3>
	<% @outgoing_invitations.each do |outgoing_invitation| %>
	    <td><%= link_to outgoing_invitation.outgoing_to_s, outgoing_invitation %></td>
	  <br />
	<% end %>
<% end %>