<h1>Listing projects</h1>

<ul data-role="listview" data-inset="true">
  <% @projects.each do |project| %>
   <li><a href= "<%= "/projects/#{project.id}/join" %>">
          <h3><%= project.name %></h3>
          <p><strong><%= project.users.first.name %></strong></p> <!--Replace with Project.manager-->
        </a>
    </li>
  <% end %>
</ul>

<br/>