 <ul data-role="listview">
 	<li>
 		<%= link_to "View Current Project", self.current_project %>
 	</li>	
 	<li>
 		<%= link_to "View My Projects", projects_path %>
 	</li>	
 	<li>
 		<%= link_to "Join Project", "join" %>
 	</li>	
 	<li>
 		<%= link_to "Create Project", new_project_path %>
 	</li>
 </ul>	