<ul>
	<% self.current_project.assets.each do |asset| %>
		<li>
			<a href=<%= "assets/#{asset.id}" %>><%= asset.file_file_name %></a>
		</li>
	<% end %>
	<a href= <%= upload_assets_path %> >Upload assets</a>
</ul>