<h2>Assets</h2>
<br>
<ul>
	<% self.current_project.assets.each do |asset| %>
		<li>
			<%= link_to asset.file_file_name, assets_path(asset), :target => '_blank' %>
		</li>
	<% end %>
    <br>
	<%= link_to "Upload a File", upload_assets_path, :class => "btn" %>
</ul>