<h1>Stagecoach Blog:</h1>

<br />

<% @posts.each do |post| %>
<br />
<h3 id="posts-posts-title"><%= link_to post.title, post %></h3>
    
    <br />
    
    <%= post.content %>
    
    <br />
    
    <b>Post by: </b> <%= post.name %>
    
    <br />
    
<% end %>


<br />
