<div class="hero-unit">
	<div class = "row">
	<div class="hspan6">
	<h1>Stagecoach Blog</h1>
</div>
</div>
<br>

<% @posts.each do |post| %>

<h2 id="posts-posts-title"><%= link_to post.title, '/blog/' + post.id.to_s + '-'+ post.title.parameterize %></h2>
<p class="postby"><b>Post by: </b> <%= post.name %></p>
<p class="postcontent"><%= post.content.html_safe %></p>


<hr>
<% end %>
<br>
</div>