<div data-role="controlgroup" data-type="horizontal">
	<h1><%= self.current_project.name rescue "You are not in a project!"%></h1>

	<%= link_to "Sign Out", { :controller=> :sessions, :action => :destroy }, :"id" => "layouts-footer-signout-button", :'data-inline' => "true", :"data-role" => 'button' %>

</div>