<div class="ui-block-ca" style="text-align: left; padding-left: 25px">
	<%= form_tag(projects_path ) do %>
		<%= select_tag(:project_id, options_for_select(project_select_options), {:onChange => 'this.form.submit();'}) %>  
	<% end %>
</div>


<div class="ui-block-c">

	<%= link_to "Sign Out", { :controller=> :sessions, :action => :destroy }, :"id" => "layouts-footer-signout-button", :"data-role" => 'button' %>
</div>




