<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
          		<li class="username"><%= link_to current_user.name, signout_path %></li>
			</ul>
		</div>
	</div>
</header>
