<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div id="signout">
				<%= link_to(signout_path, :remote => false) do %>
				<div class="header-link">
					Sign Out
				</div>
				<% end %>
			</div>
			<div id="username">
				<%= link_to(self.current_user, :remote => false) do %>
				<div class="header-link">
					<%= current_user.name %>
				</div>
				<% end %>
			</div>
			<div id="logo"><a href="/"><div><%= image_tag "header/logo.png" %></div></a></div>
		</div>
	</div>
</header>
