<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
          	<div id="username"><%= link_to current_user.name, signout_path %></div>
          	<div id="logo"><a href="/"><div><%= image_tag "header/logo.png" %></div></a></div>
		</div>
	</div>
</header>
